*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #FFF;
}
.game{
    width: 100%;
    height: 80vh;
    border-bottom: 100px solid #E8E08B;
    margin: 0 auto;
    position: relative;
    overflow: hidden; /*esconder o que passar da tela*/
    background: linear-gradient(#86DBF0, #96E2D8);
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #86DBF0;
    align-items: center;
    padding: 30px;
    height: 20vh;
}
.score{
    color: #FFF;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
}

.count{
    border: 2px solid #FFF;    
    border-radius: 8px;
    color: #FFF;
    width: 100px;
    height: 70px;    
    text-align: center;
    padding: 5px;
    font-size: 50px;
}

.candy-life{
    margin: 20px 0;
    width: 40px;    
}
.continue-flag{
    display: none;
}
.continue {
    width: 300px;
    border: 2px solid #FFF;
    border-radius: 8px;
    text-align: center;
    margin: 30vh auto;   
    font-size: 30px;
    font-weight: bold;    
}

.continue:hover{
    border: 2px solid #424242;
}

a:hover{
    color: #424242;
}

.candy{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: candy-animation 3s infinite linear;
}

.cookie{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump-cookie{
    animation: cookie-animation 500ms ease-out; /*pulo do cookie*/
}

.clouds{
    position: absolute;
    width: 600px;
    animation: clouds-animation 20s infinite linear;
}



@keyframes candy-animation {
    from {
        right: -80px; /* Para ele começar de fora da tela*/
    }
    to{
        right: 100%;
    }
}
@keyframes clouds-animation {
    from{
        right: -600px;
    }
    to{
        right: 100%;
    }
}

@keyframes cookie-animation {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    70%{
        bottom: 180px;
    }
    100%{
        bottom: 0px;
    }
}

#player{
    display: none;
}
.container-audio{
    border: 2px solid #FFF;
    border-radius: 8px;
    padding: 2px;
}
.botao-audio{
    color: #FFF;
    background-color: transparent;
    border: 0;
    font-size: 30px;
}
.botao-audio:hover{
    color: #424242;
}